.containerP{
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 5px;
	width: 445px;
	display: inline-block;
}
.containerP h4{
	margin: 0;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #000000;

}
.containerP ul{
    padding: 0 25px;
    margin: 35px 0px;
}
.containerP ul li{
	list-style-type: none;
	font-family: Open Sans;
	font-style: normal;
	font-size: 15px;
	line-height: 20px;	
	margin-top: 15px;
}